@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oswald&family=Roboto&family=Salsa&display=swap');
/*
font-family: 'Fjalla One', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Salsa', cursive;
*/



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    background-color: #080808;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.grid-data{
    display: flex;
    flex-wrap: wrap;
}
.profile-data-left{
    padding: 10px;
    flex: 30%;
}

.profile-more-right{
    background-color: #18191A;
    padding: 40px 30px;
    flex: 70%;
}
.profile-img{
    width: 50%;
    height: auto;
    margin: 40px 25%;
    border-radius: 5%;
}

.title-name{
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Salsa', cursive;
    padding-bottom: 1px;
}
.sub-name{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    padding-bottom: 40px;
    letter-spacing: 2px;
}
.bio-info{
    text-align: center;
    line-height: 30px;
}
.social-link{
    padding: 20px 30px;
    list-style: none;
}
.social-link li{
    padding: 10px 0;
}
.social-link li a{
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}
.about-me{
    line-height: 35px;
}
.git-accounts{
    display: flex;
    flex-wrap: wrap;
}
.git-accounts .bk{
    background-color: #18191A;
    padding: 40px 30px;
    flex: 50%;
}

.git-accounts .jk{
    background-color: #18191A;
    padding: 40px 30px;
    flex: 50%;
}

@media (max-width: 910px) {
    .profile-data-left, .profile-more-right {
      flex: 100%;
    }
    .profile-img{
        width: 30%;
        margin-left: 35%;
        border: 2px solid white;
    }
    .social-link li{
        text-align: center;
    }
}