@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oswald&family=Salsa&display=swap');

/*
font-family: 'Fjalla One', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Salsa', cursive;
*/



*{
    box-sizing: border-box;
}
.home{
    background-color: #18191A;
    color: white;
    font-family: 'Fjalla One', sans-serif;
}
.grid-data{
    display: flex;
    flex-wrap: wrap;
}